nifi_live_weather_dataflow/_LiveWeatherDataFlowAutomation_.json
{"flowContents":{"identifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","instanceIdentifier":"646156cb-019a-1000-d33a-c4f328b08015","name":" LiveWeatherDataFlowAutomation ","comments":"","position":{"x":-640.0,"y":-760.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"12a09cc8-9f71-3863-8246-63ca41043377","instanceIdentifier":"5e6cc18e-019a-1000-24e0-4c4b9f5723d3","name":"LogAttribute","comments":"","position":{"x":464.0,"y":288.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"0678f375-9baf-3664-a516-c44d29839809","instanceIdentifier":"5e54c90a-019a-1000-f109-95679a214502","name":"LogAttribute","comments":"","position":{"x":-264.0,"y":32.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"f1561df3-2647-3fc0-8a23-0ec03231c521","instanceIdentifier":"5e6d65cb-019a-1000-7870-0f885db09b58","name":"LogAttribute","comments":"","position":{"x":-368.0,"y":488.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"f7c8db08-4f82-365e-81f6-607f2e1aaf52","instanceIdentifier":"5e96dd31-019a-1000-41e6-094a59eb1bda","name":"EvaluateJsonPath","comments":"","position":{"x":408.0,"y":-208.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Destination":"flowfile-attribute","city_name":"$.name","Max String Length":"20 MB","Return Type":"auto-detect","temperature":"$.main.temp","description":"$.weather[0].description","humidity":"$.main.humidity","Null Value Representation":"empty string","feels_like":"$.main.feels_like","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"city_name":{"name":"city_name","displayName":"city_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"temperature":{"name":"temperature","displayName":"temperature","identifiesControllerService":false,"sensitive":false,"dynamic":true},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"humidity":{"name":"humidity","displayName":"humidity","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"feels_like":{"name":"feels_like","displayName":"feels_like","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"76fd901c-d1a5-391a-8287-51b958de9ec8","instanceIdentifier":"5e556fcc-019a-1000-314c-c59e428ba865","name":"JoltTransformJSON","comments":"","position":{"x":216.0,"y":40.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.6.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-shift","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"true","Jolt Specification":"{\n  \"name\": \"city\",\n  \"sys\": {\n    \"country\": \"country\"\n  },\n  \"main\": {\n    \"temp\": \"temperature\",\n    \"humidity\": \"humidity\"\n  },\n  \"weather\": {\n    \"*\": {\n      \"main\": \"condition\"\n    }\n  },\n  \"wind\": {\n    \"speed\": \"wind_speed\"\n  },\n  \"dt\": \"timestamp\"\n}\n"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"764cb8cf-c96c-308b-b674-6efc539bfaf0","instanceIdentifier":"5e58a6ab-019a-1000-896c-1352a128cca4","name":"PutMongoRecord","comments":"","position":{"x":-72.0,"y":288.0},"type":"org.apache.nifi.processors.mongodb.PutMongoRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.6.0"},"properties":{"mongo-client-service":"90f20d69-3bb9-34ed-9e70-1d2ba145bf52","ordered":"False","insert_count":"100","update-key-fields":null,"Mongo Collection Name":"weather_data","update-mode":"one","record-reader":"25d0e2ef-5ad6-345c-85a8-4203a8e08482","bypass-validation":"False","Mongo Database Name":"apache_nifi"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ordered":{"name":"ordered","displayName":"Ordered","identifiesControllerService":false,"sensitive":false,"dynamic":false},"insert_count":{"name":"insert_count","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"update-key-fields":{"name":"update-key-fields","displayName":"Update Key Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"update-mode":{"name":"update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bypass-validation":{"name":"bypass-validation","displayName":"Bypass Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"dcd0f56a-5f06-3b94-8a6d-0e8f79b7ac8d","instanceIdentifier":"5e404099-019a-1000-9139-c918db9067ad","name":"InvokeHTTP","comments":"","position":{"x":-248.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.openweathermap.org/data/2.5/weather?q=Karachi&appid=9c49b9cb11e34db8eed284c16c3039e2&units=metric","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"2affec9f-698d-3e72-8fb6-4aff5e8445df","instanceIdentifier":"5e66b7bd-019a-1000-8c4b-81c7ce661196","name":"LogAttribute","comments":"","position":{"x":760.0,"y":0.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"701c715f-d9d6-34d9-aa2f-b1eac3b85358","instanceIdentifier":"5e6e8297-019a-1000-2eb9-91abb35b18a0","name":"","source":{"id":"764cb8cf-c96c-308b-b674-6efc539bfaf0","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"PutMongoRecord","comments":"","instanceIdentifier":"5e58a6ab-019a-1000-896c-1352a128cca4"},"destination":{"id":"a091281d-767c-3715-af55-3630386ae8e3","type":"FUNNEL","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"Funnel","comments":"","instanceIdentifier":"5e6da62c-019a-1000-74f2-6a2db98a1392"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"f5e71b28-953c-3ab3-a876-bab55a06b29a","instanceIdentifier":"5e9f3897-019a-1000-cf3b-6786ffeb02bc","name":"","source":{"id":"f7c8db08-4f82-365e-81f6-607f2e1aaf52","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5e96dd31-019a-1000-41e6-094a59eb1bda"},"destination":{"id":"2affec9f-698d-3e72-8fb6-4aff5e8445df","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"LogAttribute","comments":"","instanceIdentifier":"5e66b7bd-019a-1000-8c4b-81c7ce661196"},"labelIndex":0,"zIndex":23,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"6ae2fc52-fd9a-3d9b-afbe-1211ac4ae66a","instanceIdentifier":"5e712dff-019a-1000-1d1a-a12133f2d68c","name":"","source":{"id":"f1561df3-2647-3fc0-8a23-0ec03231c521","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"LogAttribute","comments":"","instanceIdentifier":"5e6d65cb-019a-1000-7870-0f885db09b58"},"destination":{"id":"48d5b3da-a909-3b8e-9c98-56658cec6573","type":"FUNNEL","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"Funnel","comments":"","instanceIdentifier":"5e711ded-019a-1000-3bea-b25b8df1d9b1"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"e11e582c-a430-3dc0-ae1d-15e65a9f24c7","instanceIdentifier":"5e6f96fe-019a-1000-f102-40d0c97082c6","name":"","source":{"id":"0678f375-9baf-3664-a516-c44d29839809","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"LogAttribute","comments":"","instanceIdentifier":"5e54c90a-019a-1000-f109-95679a214502"},"destination":{"id":"f138bcc2-ab4c-3167-8900-c89070106196","type":"FUNNEL","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"Funnel","comments":"","instanceIdentifier":"5e6f836e-019a-1000-d610-21f798272807"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"8d3cd8c2-66ec-33d9-991a-40f8b6e0fe26","instanceIdentifier":"5e972214-019a-1000-a9bd-5c6a278c1900","name":"","source":{"id":"dcd0f56a-5f06-3b94-8a6d-0e8f79b7ac8d","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"InvokeHTTP","comments":"","instanceIdentifier":"5e404099-019a-1000-9139-c918db9067ad"},"destination":{"id":"f7c8db08-4f82-365e-81f6-607f2e1aaf52","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5e96dd31-019a-1000-41e6-094a59eb1bda"},"labelIndex":0,"zIndex":19,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"3108c4b3-6923-3762-8529-2a54189dd8ac","instanceIdentifier":"5e7100f5-019a-1000-612e-88c2c48f3dfe","name":"","source":{"id":"12a09cc8-9f71-3863-8246-63ca41043377","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"LogAttribute","comments":"","instanceIdentifier":"5e6cc18e-019a-1000-24e0-4c4b9f5723d3"},"destination":{"id":"56e99c67-9e6a-3d23-bc9b-362ef84ea10a","type":"FUNNEL","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"Funnel","comments":"","instanceIdentifier":"5e70effb-019a-1000-ab02-19d136b8af34"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"447c7313-c5e0-35e3-8e6b-b225ba553308","instanceIdentifier":"5e6ce1f5-019a-1000-14a4-f188aab882bb","name":"","source":{"id":"76fd901c-d1a5-391a-8287-51b958de9ec8","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"JoltTransformJSON","comments":"","instanceIdentifier":"5e556fcc-019a-1000-314c-c59e428ba865"},"destination":{"id":"12a09cc8-9f71-3863-8246-63ca41043377","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"LogAttribute","comments":"","instanceIdentifier":"5e6cc18e-019a-1000-24e0-4c4b9f5723d3"},"labelIndex":0,"zIndex":6,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"f30795c8-14a7-34df-8e51-13818e086135","instanceIdentifier":"5e9ccc0c-019a-1000-4b99-e9838e2554bb","name":"","source":{"id":"dcd0f56a-5f06-3b94-8a6d-0e8f79b7ac8d","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"InvokeHTTP","comments":"","instanceIdentifier":"5e404099-019a-1000-9139-c918db9067ad"},"destination":{"id":"0678f375-9baf-3664-a516-c44d29839809","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"LogAttribute","comments":"","instanceIdentifier":"5e54c90a-019a-1000-f109-95679a214502"},"labelIndex":0,"zIndex":21,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"947aee4d-57a4-3d2e-aa46-7f8b50bda4bb","instanceIdentifier":"5e6d8c93-019a-1000-1d6f-9517389b9fda","name":"","source":{"id":"764cb8cf-c96c-308b-b674-6efc539bfaf0","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"PutMongoRecord","comments":"","instanceIdentifier":"5e58a6ab-019a-1000-896c-1352a128cca4"},"destination":{"id":"f1561df3-2647-3fc0-8a23-0ec03231c521","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"LogAttribute","comments":"","instanceIdentifier":"5e6d65cb-019a-1000-7870-0f885db09b58"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"540fabc9-874f-3dc2-9258-d65fa81ffa6f","instanceIdentifier":"5e662ce6-019a-1000-a754-0150ac007d83","name":"","source":{"id":"76fd901c-d1a5-391a-8287-51b958de9ec8","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"JoltTransformJSON","comments":"","instanceIdentifier":"5e556fcc-019a-1000-314c-c59e428ba865"},"destination":{"id":"764cb8cf-c96c-308b-b674-6efc539bfaf0","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"PutMongoRecord","comments":"","instanceIdentifier":"5e58a6ab-019a-1000-896c-1352a128cca4"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"8aa5bc97-dd08-37db-9c35-1ad9c122e0a9","instanceIdentifier":"5e9f1e76-019a-1000-86af-004742735fb5","name":"","source":{"id":"f7c8db08-4f82-365e-81f6-607f2e1aaf52","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5e96dd31-019a-1000-41e6-094a59eb1bda"},"destination":{"id":"76fd901c-d1a5-391a-8287-51b958de9ec8","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"JoltTransformJSON","comments":"","instanceIdentifier":"5e556fcc-019a-1000-314c-c59e428ba865"},"labelIndex":0,"zIndex":22,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"48333c83-f18c-36d5-a63b-99ad98a7907d","instanceIdentifier":"5e71885d-019a-1000-6309-e7e69dfb7a4b","name":"","source":{"id":"2affec9f-698d-3e72-8fb6-4aff5e8445df","type":"PROCESSOR","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"LogAttribute","comments":"","instanceIdentifier":"5e66b7bd-019a-1000-8c4b-81c7ce661196"},"destination":{"id":"0c6a4239-36f3-3305-ab96-4f837c693cba","type":"FUNNEL","groupId":"74eb8c99-c3a3-335a-9188-fcf08e912ef9","name":"Funnel","comments":"","instanceIdentifier":"5e7175b1-019a-1000-f323-d61f1dd894eb"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"}],"labels":[],"funnels":[{"identifier":"56e99c67-9e6a-3d23-bc9b-362ef84ea10a","instanceIdentifier":"5e70effb-019a-1000-ab02-19d136b8af34","position":{"x":1128.0,"y":384.0},"componentType":"FUNNEL","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"0c6a4239-36f3-3305-ab96-4f837c693cba","instanceIdentifier":"5e7175b1-019a-1000-f323-d61f1dd894eb","position":{"x":968.0,"y":280.0},"componentType":"FUNNEL","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"f138bcc2-ab4c-3167-8900-c89070106196","instanceIdentifier":"5e6f836e-019a-1000-d610-21f798272807","position":{"x":-312.0,"y":248.0},"componentType":"FUNNEL","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"a091281d-767c-3715-af55-3630386ae8e3","instanceIdentifier":"5e6da62c-019a-1000-74f2-6a2db98a1392","position":{"x":336.0,"y":512.0},"componentType":"FUNNEL","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"},{"identifier":"48d5b3da-a909-3b8e-9c98-56658cec6573","instanceIdentifier":"5e711ded-019a-1000-3bea-b25b8df1d9b1","position":{"x":-453.24,"y":525.48},"componentType":"FUNNEL","groupIdentifier":"74eb8c99-c3a3-335a-9188-fcf08e912ef9"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{"90f20d69-3bb9-34ed-9e70-1d2ba145bf52":{"identifier":"90f20d69-3bb9-34ed-9e70-1d2ba145bf52","name":"MongoDBControllerService"},"25d0e2ef-5ad6-345c-85a8-4203a8e08482":{"identifier":"25d0e2ef-5ad6-345c-85a8-4203a8e08482","name":"JsonTreeReader"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}